<html>
  <head>
    <title>Live Streaming</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <h2 id="title"><i>Bose Streaming App</i></h2>
    <nav id="navbar">
      <div class="containernav">
        <ul>
          <li><a href="#">Live Streaming</a></li>
          <li><a href="{{ url_for('ui') }}">Recorded Streaming</a></li>
        </ul>
      </div>
    </nav>

    <div class="containertext" style="display: flex; justify-content: space-around;">
      <div style="margin: 0 20%;">
      <br />
      <button id="livebutton">
        <img
          src="https://ak2.picdn.net/shutterstock/videos/5721572/thumb/9.jpg"
          height="120"
          width="200"
        />
      </button>
      <p>Click the button above to begin streaming!</p>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: space-around; margin-right: 50px;">
        <button id="volume-up" onclick="volumeUp()"><img src="https://upload.wikimedia.org/wikipedia/commons/1/10/TriangleArrow-Up.svg" height="70" width="70" /></button>
        <button id="volume-down" onclick="volumeDown()"><img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/TriangleArrow-Down.svg" height="70" width="70" /></button>
        <p>Volume</p>
      </div>
    </div>
    <!-- Container End -->
  </body>
  <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>
  <script src="{{url_for('static', filename='recorder.js')}}"></script>
  <script>

    function volumeUp() {
      fetch("/volumeUp");
    }

    function volumeDown() {
      fetch("/volumeDown");
    }

    var recording = false;
    var ip = window.location.href.split(":")[1].split("//")[1];
    var audio_context;
    var mediaRecorder;

    /**
     * Patch the APIs for every browser that supports them and check
     * if getUserMedia is supported on the browser.
     *
     */
    function Initialize() {
      try {
        // Monkeypatch for AudioContext, getUserMedia and URL
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        navigator.getUserMedia =
          navigator.getUserMedia || navigator.webkitGetUserMedia;
        window.URL = window.URL || window.webkitURL;

        // Store the instance of AudioContext globally
        audio_context = new AudioContext();
        console.log("Audio context is ready !");
        console.log(
          "navigator.getUserMedia " +
            (navigator.getUserMedia ? "available." : "not present!")
        );
      } catch (e) {
        alert("No web audio support in this browser!");
      }
    }

    // Initialize everything once the window loads
    window.onload = function() {
      // Prepare and check if requirements are filled
      Initialize();

      // Handle on start recording button
      document.getElementById("livebutton").addEventListener(
        "click",
        function() {
          toggleButton();
        },
        false
      );
    };

    function toggleButton() {
      if (recording) {
        recording = false;
        document
          .getElementById("livebutton")
          .classList.remove("clickedLiveButton");
        stopRecording();
      } else {
        recording = true;
        document.getElementById("livebutton").className += "clickedLiveButton";
        goLive();
      }
    }

    function stopRecording() {
      // Stop the recorder instance
      fetch("/stopLive");
      mediaRecorder.stop();
      mediaRecorder.stream.stop();
      console.log("Stopped recording.");
    }

    function goLive() {
      console.log("going live...");

      fetch("https://" + ip + ":5001/goLive");

      var mediaConstraints = {
        audio: true,
        video: false
      };

      function onMediaError(e) {
        console.error("media error", e);
      }

      function onMediaSuccess(stream) {
        mediaRecorder = new MediaStreamRecorder(stream);
        mediaRecorder.stream = stream;
        mediaRecorder.mimeType = "audio/wav";
        mediaRecorder.bufferSize = 2048;
        mediaRecorder.recorderType = StereoAudioRecorder;
        mediaRecorder.ondataavailable = function(blob) {
          console.log(blob);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "https://" + ip + ":5001/live", true);
          xhr.send(blob);
        };
        mediaRecorder.start(200);
      }

      navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
    }
  </script>
</html>
